tokens/
softhsm2.conf
.venv/
softhsm2.conf


# Environnements virtuels Python
hsm_env/
env/
venv/
.venv/

# Cache Python - CORRECTION ICI
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Fichiers de configuration (mais gardez softhsm2.conf)
# *.conf  # COMMENTÉ pour garder softhsm2.conf
# *.config

# Fichiers temporaires
*.tmp
*.temp

# Logs
*.log

# Système
.DS_Store
Thumbs.db

# Dossiers de données HSM
tokens/